doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Space Invaders With Vanilla Javascript
        link(rel='stylesheet' href='css/main.css')
    body
        canvas(class='game' id='gameCanvas')
        script(src='js/main.js')
